#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:01:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid-testing

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $SCRATCHDIR

## Clone repository and switch into selected revision
echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------

echo Download required inputs
echo --------------------START-----------------------------
## if needed you can download required input file by using
## following markup
## { % stage_in demo_steps %}
## NOTICE - remove space between { and %
echo --------------------END-------------------------------

## Load ruby module and execute calculation
echo Run calculation
echo --------------------START-----------------------------

## If needed you can load additional modules, e.g.:
## module load plgrid/tools/gnuplot
## module load plgrid/tools/ffmpeg

## If parameter values are defined in the step you can inject its value
## echo "{ % value_of my-parameter-key %}"
## NOTICE - remove space between { and %

bash slurm-test/template.bash
echo --------------------END-------------------------------
cp /net/pr2/projects/plgrid/plggsano/Karol_Zajac/171210AISC_Sculpture_brep.vtkjs .

echo Uploading results
echo --------------------START-----------------------------
{% stage_out test.html %}
{% stage_out hello.txt %}
{% stage_out 171210AISC_Sculpture_brep.vtkjs %}


echo --------------------END-------------------------------
echo Finish
