#!/bin/bash -l
#SBATCH -N 1
#SBATCH --ntasks-per-node=1
#SBATCH --time=00:05:00
#SBATCH -A {{ grant_id }}
#SBATCH -p plgrid-testing
#SBATCH --output ./slurm-%j.out
#SBATCH --error ./slurm-%j.err

# Finish with error on first command with error
set -e

## Change to the directory where sbatch was called
cd $TMPDIR

# Clone repository and switch into selected revision
echo Preparing computation source code
echo --------------------START-----------------------------
{% clone_repo %}
echo --------------------END-------------------------------

echo Download dataset from zenodo
echo --------------------START-----------------------------
dataset_pid={% value_of dataset_pid %}
file_dataset_pid={% value_of file_dataset_pid %}
filename={% value_of file_name %}
{% zenodo_dataset_stage_in $dataset_pid %}
echo "Downloaded dataset"
{% zenodo_file_stage_in $file_dataset_pid $filename %}
echo "Downloaded file"
echo --------------------END-------------------------------

find . -type f -name "*.txt" -exec cat {} + > merged.out 


echo Uploading results
echo --------------------START-----------------------------
{% zenodo_file_stage_out merged.out $dataset_pid %}

echo --------------------END-------------------------------
echo Finish
